.article{
    display: flex;
    flex-direction: column;
    align-items: center;

    *{
        padding-bottom: 1rem;
        width: 100%;
    }

    h1{
        width: 100%;
        text-align: center;
    }

    .linkOut{
        background-color: white;
        color: black;
        font-weight: 600;
        padding: 1rem;
        border-radius: 2rem;
        width: fit-content;
        text-decoration: none;
        margin-bottom: 1rem;
    }

    .imageFit{
        width: 100%; max-width: 100%;
    }
}