.jobExperience{
   .content{
       padding: 1rem 0rem;
       display: flex;

       .jobBadge{
           width: 50%;
            
           img{
               aspect-ratio: 3;
               width: 100%;
           }
       }
   } 

   @media only screen and (max-width: 600px) {
       .content{
           flex-direction: column;

        .jobBadge{
            width: 100%;
        }
       }

   }
}