.projects{
   .contentHolder{
       padding: 1rem 0rem;
       display: flex;
       flex-wrap: wrap;

       .projectBadge{
           width: 50%;
           padding: 1rem;
            
           img{
               aspect-ratio: 3;
               width: 100%;
           }
       }
   } 

   @media only screen and (max-width: 600px) {
       .contentHolder{
           flex-direction: column;

        .projectBadge{
            width: 100%;
        }
       }

   }
}