@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* -------------  My css Stuff */
/* debug */
.debugRedLine {
  outline: solid 3px rgba(255, 0, 0, 0.3);
}

/* removing default spacings */
* {
  padding: 0;
  margin: 0;
}

/* flex Classes */
.flex {
  display: flex;
}

.flexColumn {
  flex-direction: column;
}

/* justify */
.flexJustifyCenter {
  justify-content: center;
}

.flexJustifyStart {
  justify-content: flex-start;
}

.flexJustifyEnd {
  justify-content: flex-end;
}

.flexJustifyBetween {
  justify-content: space-between;
}

.flexJustifyAround {
  justify-content: space-around;
}

.flexJustifyEvenly {
  justify-content: space-evenly;
}

/* alignment */ /* -------------  My css Stuff */
/* debug */
.debugRedLine {
  outline: solid 3px rgba(255, 0, 0, 0.3);
}

/* removing default spacings */
* {
  padding: 0;
  margin: 0;
}

/* flex Classes */
.flex {
  display: flex;
}

.flexColumn {
  flex-direction: column;
}

/* justify */
.flexJustifyCenter {
  justify-content: center;
}

.flexJustifyStart {
  justify-content: flex-start;
}

.flexJustifyEnd {
  justify-content: flex-end;
}

.flexJustifyBetween {
  justify-content: space-between;
}

.flexJustifyAround {
  justify-content: space-around;
}

.flexJustifyEvenly {
  justify-content: space-evenly;
}

/* alignment */
.flexAlignCenter {
  align-items: center;
}

.flexAlignStart {
  align-items: flex-start;
}

.flexAlignEnd {
  align-items: flex-end;
}

.flexAlignStretch {
  align-items: stretch;
}

.flexAlignBaseline {
  align-items: baseline;
}

/* flex-grow */
.flexGrow {
  flex-grow: 1;
}

/* sizing divs */
.fillWidth {
  width: 100%;
}

.fillHeight {
  height: 100%;
}

.hugHeight {
  height: fit-content;
}

.hugWidth {
  width: fit-content;
}

/* spacings */
.padding {
  padding: 1em;
}

.paddingHalf {
  padding: 0.5em;
}

.margin {
  margin: 1em;
}

/* visibility */
.hide {
  display: none;
}

.fadeOut {
  opacity: 0;
}

/* layering over */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
}

.flexAlignCenter {
  align-items: center;
}

.flexAlignStart {
  align-items: flex-start;
}

.flexAlignEnd {
  align-items: flex-end;
}

.flexAlignStretch {
  align-items: stretch;
}

.flexAlignBaseline {
  align-items: baseline;
}

/* flex-grow */
.flexGrow {
  flex-grow: 1;
}

/* sizing divs */
.fillWidth {
  width: 100%;
}

.fillHeight {
  height: 100%;
}

.hugHeight {
  height: fit-content;
}

.hugWidth {
  width: fit-content;
}

/* spacings */
.padding {
  padding: 1em;
}

.paddingHalf {
  padding: 0.5em;
}

.margin {
  margin: 1em;
}

/* visibility */
.hide {
  display: none;
}

.fadeOut {
  opacity: 0;
}

/* layering over */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
}

/*text center*/
.textCenter {
  text-align: center;
}

.interactive {
  transition: 0.3s;
  transform: scale(1);
  cursor: pointer;
}
.interactive:hover {
  transform: scale(1.05);
}
.interactive:active {
  transform: scale(0.95);
}

/*fullscreen the body*/
html, body {
  height: 100%;
  width: 100%;
}

.header {
  font-weight: 700;
  font-size: 2rem;
  padding: 0rem 0rem 1rem 0rem;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .header {
    font-size: 1rem;
  }
}
.hero {
  width: 100%;
}
.hero h1 {
  padding-bottom: 1rem;
}

.mainParagraph {
  margin: 2em 0em;
}
.mainParagraph h3 {
  font-size: 2em;
  margin-bottom: 1rem;
}
.mainParagraph span {
  font-weight: 800;
}

.articleRoot .articleTray .articleBadgeHolder {
  display: flex;
  flex-wrap: wrap;
}
.articleRoot .articleTray .articleBadgeHolder .articleBadge {
  padding: 1rem;
  width: 50%;
}
.articleRoot .articleTray .articleBadgeHolder .articleBadge img {
  width: 100%;
  max-width: 100%;
  aspect-ratio: 3;
  object-fit: cover;
}
.articleRoot .articleTray .articleBadgeHolder .articleBadge h4 {
  font-size: 1.3rem;
}
.articleRoot .articleTray .articleBadgeHolder .articleBadge .subtitle {
  margin-bottom: 0.5rem;
}
@media only screen and (max-width: 600px) {
  .articleRoot .articleTray .articleBadgeHolder .articleBadge {
    width: 100%;
  }
}
.articleRoot .articleViewer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.778);
}
.articleRoot .articleViewer .slider {
  height: 100vh;
  width: 100%;
  max-width: 800px;
  position: relative;
  transition: 0.5s;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
.articleRoot .articleViewer .slider .returnButton {
  color: black;
  background-color: white;
  padding: 1rem;
  max-width: fit-content;
  border: none;
  border-radius: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.articleRoot .articleViewer .slider .contentRoot {
  background-color: black;
  flex-grow: 1;
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
  overflow-y: scroll;
}
.articleRoot .articleViewer .sliderDown {
  top: 100vh;
}

.opacity {
  pointer-events: auto;
  opacity: 1;
  transition: 0.5s;
}

.opacityDown {
  pointer-events: none;
  opacity: 0;
}

.article {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.article * {
  padding-bottom: 1rem;
  width: 100%;
}
.article h1 {
  width: 100%;
  text-align: center;
}
.article .linkOut {
  background-color: white;
  color: black;
  font-weight: 600;
  padding: 1rem;
  border-radius: 2rem;
  width: fit-content;
  text-decoration: none;
  margin-bottom: 1rem;
}
.article .imageFit {
  width: 100%;
  max-width: 100%;
}

.UIOverlay {
  pointer-events: none;
}

.winOverlay {
  background-color: black;
  font-weight: 900;
  font-size: 3em;
  padding: 1em 2em;
  border: 3px solid white;
  border-radius: 1rem;
}

.tutorial img {
  height: 1em;
}

.opacity {
  opacity: 1;
  transition: 0.5s;
}

.opacityDown {
  opacity: 0;
}

html, body {
  background-color: #000000;
  color: #ffffff;
}

* {
  font-family: "Kumbh Sans", sans-serif;
  box-sizing: border-box;
  z-index: 0;
}

h3 {
  font-size: 2rem;
}

.rootContainerParent {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.rootContainer {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1000px;
}

/*# sourceMappingURL=main.css.map */
